@font-face {
  font-family: grotesk;
  src: url(./assets/font/SpaceGrotesk.ttf);
}
@font-face {
  font-family: epilogue;
  src: url(./assets/font/Epilogue.ttf);
}

@font-face {
  font-family: novasquare;
  src: url(./assets/font/SpaceGrotesk.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.grotesk {
  font-family: grotesk;
}
.epilogue {
  font-family: epilogue;
}

.novasquare {
  font-family: novasquare;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #585656;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1d1c20;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #26272b;
}

/* :root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #131313;
} */
.green {
  color: #4f0c0fff;
}
a {
  font-weight: 500;
  /* color: #017008; */
  text-decoration: inherit;
}
a:hover {
  color: #fff;
}

body {
  /* margin: 0; */
  /* display: flex; */
  /* place-items: center; */
  /* min-width: 100vw; */
  /* min-height: 100vh; */
  overflow-x: hidden;
  color: #ffffffde;
  /* background-color: #4e23a6; */
  background-color: #000000;
  /* background-image: url(./assets/bg23.jpg); */
  /* background-si */
  background-position: center;
  background-repeat: no-repeat;
}

.bg{
  background-image: url(./assets/bg.png);
}
.hero-text {
  /* text-shadow: -3px 3px 0 #066467, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000; */
}
.hero {
  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.sec1{
  /* background-image: url(./assets/eloncyborg.png); */
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}
button {
  /* border-radius: 8px; */
  /* border: 1px solid transparent; */
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  color: #000000;
  transition: border-color 0.25s;
  /* box-shadow: -3px 3px 0 #066467, 0px 0px 0 #000, 0px -0px 0 #000,
  -0px -0px 0 #000; */
}
button:hover {
  /* border-color: #00d9ff; */
  /* box-shadow: -0px 0px 0 #000, 3px 3px 0 #066467, 0px -0px 0 #000,
  -0px -0px 0 #000; */
}
button:focus,   
button:focus-visible {
  /* outline: 4px #fdbd5aff -webkit-focus-ring-color; */
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
.blue-glassmorphism {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.glass-effect {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.white-glassmorphism-01 {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.modal-glassmorphism {
  background: rgba(0, 0, 0, 0.582);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}


.bg1{
  background-image: url(assets/shopping.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg2{
  background-image: url(assets/time.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}